@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  position: absolute;
  width: 100%;
  height: 63px;
  left: 0px;
  top: 0px;
  background: #0acd86;
  display: flex;
  justify-content: space-between;
}

.area-header {
  width: 120px;
  height: 100%;
  background: #0aab6b;
}

.menu {
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-family: "Jockey One", sans-serif;
}

button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 34px;
  background: #0acd86;
  font-family: "Jockey One";
  font-size: 20px;
  text-align: center;
  color: #0aab6b;
  cursor: pointer;
  transition: 0.4s;
}

button:hover,
.selected {
  background: #ffffff;
}

.icon {
  width: 120px;
  display: flex;
  align-items: center;
}

.icon img {
  width: 50px;
  cursor: pointer;
}

main {
  width: calc(100vw - 320px);
  height: 100%;
  left: 117px;
  background: #f2f2f2;
  margin: 0 auto;
  margin-top: 54px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.forms {
  width: calc(100vw - 240px);
  height: 212px;
  left: 117px;
  background: #f2f2f2;
  margin: 0 auto;
  margin-top: 104px;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.forms input {
  height: 41px;
  background: #ffffff;
  border-radius: 17px;
  border: 0px;
}

.forms .inputs {
  width: 715px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.forms .btn {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.description {
  width: 714px;
}

.date,
.local {
  width: 340px;
}

.btn button {
  width: 282px;
  height: 41px;
  left: 983px;
  top: 149px;

  border-radius: 17px;
  color: white;
}

.clear {
  background: #e1b84f;
}

.card {
  width: 327px;
  height: 183px;
  background: #ffffff;
  border-radius: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card h1 {
  width: 100%;
  text-align: center;
  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  height: 10px;

  color: #d2d2d2;
}

.card h3 {
  width: 100%;
  height: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #d2d2d2;
}

.card p {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;
  color: #0acd86;
}
